@model webProjeCalismasi.Models.Kitaplar

<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://lh3.googleusercontent.com/proxy/IgIO4ONOmMeq9C3QsJEEvBv7E1oI5DQ__EKny1PWGGHnednWbW4AB5ebQjY9Qj26bIfNalht6gSrg_W3rHMCqKwQMLh8933kcalaSoMlxkw0IusMu6XM7a4bfA" alt=""></a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="#">Item One</a>
            </h4>
            <h5>$24.99</h5>
            <p>@Model.kitapIsmi</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
    </div>
</div>