@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="~/css/loginPage.css" rel="stylesheet">


</head>

<body>
    
    <div class="login">
        <h1>Kayıt Ol</h1>
        <form method="post">

            <input type="text" name="isim" placeholder="İsim" required="required" />
            <input type="text" name="soyisim" placeholder="Soy İsim" required="required" />
            <input type="email" name="mailAdresi" placeholder="Mail Adresi" required="required" />
            <input type="text" name="telNo" placeholder="Telefon Numarası" required="required" />
            <input type="text" name="kullaniciAdi" placeholder="Username" required="required" />
            <input type="password" name="p" placeholder="Password" required="required"/>
           

            <button type="submit" class="btn btn-primary btn-block btn-large">Kayıt Ol</button>

        </form>
    </div>


</body>

</html>
